.app-wrapper{
  display: grid;
 grid-template-areas: 
 "header header"
 "nav container";
 width: 100%;
 max-width: 1200px;


  grid-template-rows: 60px 1fr;
  grid-template-columns: 2fr 10fr;
  /* grid-gap: 10px; */
}

.app-wrapper-content {

    grid-area: container;
    background-color: rgb(184, 139, 57);
}




