.header {
  grid-area: header;

  background-color: rgb(33, 184, 19);
}

.header img {
  width: 60px;
  height: 50px;
}
.loginBlock {
  margin-top: 10px;
  margin-right: 10px;
  float: right;
}
.loginBlock a {

  color: blue;
}

.formOnError {
  width: 25%;
  color: red;
  border: 2px red solid
}