.app-wrapper{
  display: grid;
 grid-template-areas: 
 "header header"
 "nav container";
 width: 100%;
 max-width: 1200px;


  grid-template-rows: 60px 1fr;
  grid-template-columns: 2fr 10fr;
 
}









