.nav {
    grid-area: nav;
    background-color: #99ff99;
    color: #ffffff;
    padding: 20px;
    height: 25em;
}

.item {
    padding: 3px;

}

.item a {
    color: #000000;
    text-decoration: none;

}


.item a.active {
    color: deepskyblue;
}