.container{
    position: relative;
    background-color: #80ffff;
    grid-template-columns:10fr;
}
.pages span{
   border: solid 1px grey;
    margin-right: 1px;
}
.pages span:hover{
    cursor: pointer;
}

.selectedPage {
    font-weight: bold;
}